# Many To Many Relation

## Student

| id (PK) | name      |
| ------- | --------- |
| INT     | CharField |

## Enrolment

| id (PK) | student_id (FK - Student) | lecture_id (FK - Lecture) |
| ------- | ------------------------- | ------------------------- |
| INT     | INT                       | INT                       |



## Lecture

| id(PK) | title     |
| ------ | --------- |
| INT    | CharField |

In [29]:
# Student.objects.create(name='유태영')
# Student.objects.create(name='강동주')
# Student.objects.create(name='김탁희')
# Student.objects.create(name='김재석')
Student.objects.count()

4

In [47]:
# Lecture.objects.create(title='컴퓨터 운영체제')
# Lecture.objects.create(title='HTTP 와 네트워크')
# Lecture.objects.create(title='DS')
# Lecture.objects.create(title='Python')

Lecture.objects.count()

4

In [48]:
# Enrolment.objects.create(student_id=13, lecture_id=2)
# Enrolment.objects.create(student_id=14, lecture_id=2)
# Enrolment.objects.create(student_id=14, lecture_id=3)
# Enrolment.objects.create(student_id=15, lecture_id=3)
# Enrolment.objects.create(student_id=16, lecture_id=2)
# Enrolment.objects.create(student_id=16, lecture_id=3)
# Enrolment.objects.create(student_id=16, lecture_id=4)
# Enrolment.objects.create(student_id=16, lecture_id=5)
Enrolment.objects.count()

8

In [46]:
student = Student.objects.get(name='김재석')
수강신청1 = student.enrolment_set.first()
수강신청2 = student.enrolment_set.last()

수강신청1.lecture.title
수강신청2.lecture.title

'HTTP 와 네트워크'

In [49]:
# 수업 여러개 듣는 사람 1명을 student 에 저장합니다.
student = Student.objects.get(name='김재석')
student.enrolment_set.count()

4

In [50]:
# student 의 수업들 제목을 출력하는 for 문을 작성해 보세요
for 수강신청 in student.enrolment_set.all():
    print(수강신청.lecture.title)

컴퓨터 운영체제
HTTP 와 네트워크
DS
Python

In [60]:
# student 의 수업들 중 제목이 5 글자 넘는 수업의 제목을 출력
for enroll in student.enrolment_set.all(): # []
    lec_title = enroll.lecture.title
    if len(lec_title) > 10:
        print(lec_title)

HTTP 와 네트워크

In [ ]:
# lecture.students => 수업 듣는 모든 학생들
# student.lectures => 학생 듣는 모든 수업들

In [29]:
# Hotel.dummy(1)
new_hotel = Hotel.objects.last()

new_hotel.clients.add(
    Client.objects.get(id=1),
    Client.objects.get(id=3),
    Client.objects.get(id=5),
    Client.objects.get(id=7)
)

new_hotel.clients.filter(name__contains='h')

In [2]:
# Client.dummy(1)
client = Client.objects.get(id=3)

# client.hotel_set.add(
#     Hotel.objects.get(id=2),
#     Hotel.objects.get(id=4),
#     Hotel.objects.get(id=6),
# )

In [6]:
client.hotels.all().values('name')

In [8]:
client.hotels.all().exists()

True